<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-800 rounded overflow-hidden">
        <div class="w-24 h-full bg-yellow-500"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Espaço, a fronteira final</font>
          </font>
        </h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Arte de rua telha de metrô sálvia torrada de quatro dólares amargos
              selfies quinoa yuccie sintetizador meditação iPhone intelectual prisma tofu. </font>
            <font style="vertical-align: inherit;">Gochujang viral amarga o apanhador de sonhos.</font>
          </font>
        </p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="contente" class="object-cover object-center h-full w-full" src="../../../assets/Blue sunny sky with tree photo.jpeg">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Estrelas cadentes</font>
          </font>
        </h2>
        <p class="text-base leading-relaxed mt-2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Swag shoindxgoitch literalmente meditação metrô telha Tumblr prensado
              a frio. </font>
            <font style="vertical-align: inherit;">Gastropub arte de rua barba dreamcatcher neutro, ético XOXO
              lumbersexual.</font>
          </font>
        </p>
        <a class="text-yellow-400 inline-flex items-center mt-3">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Saber mais</font>
          </font>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="contente" class="object-cover object-center h-full w-full"
            src="../../../assets/Ice mountains landscapes nature trees forest lakes natural wallpaper.jpeg">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">O Catalisador</font>
          </font>
        </h2>
        <p class="text-base leading-relaxed mt-2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Swag shoindxigoitch literalmente meditação metrô telha Tumblr
              prensado a frio. </font>
            <font style="vertical-align: inherit;">Gastropub arte de rua barba dreamcatcher neutro, ético XOXO
              lumbersexual.</font>
          </font>
        </p>
        <a class="text-yellow-400 inline-flex items-center mt-3">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Saber mais</font>
          </font>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="contente" class="object-cover object-center h-full w-full" src="../../../assets/transferir.jpeg">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Os 400 golpes</font>
          </font>
        </h2>
        <p class="text-base leading-relaxed mt-2">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Swag shoindegoitch literalmente meditação metrô telha Tumblr prensado
              a frio. </font>
            <font style="vertical-align: inherit;">Gastropub arte de rua barba dreamcatcher neutro, ético XOXO
              lumbersexual.</font>
          </font>
        </p>
        <a class="text-yellow-400 inline-flex items-center mt-3">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Saber mais</font>
          </font>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
